</div>
<footer class="container-fluid mt-5">
    <hr>
    <p class="text-center text-muted" style="font-size:1rem;">&copy; 2025 축구화 티어리스트</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
